src/flows/Vendor_Booking_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>submitVendorForApproval</name>
        <label>submitVendorForApproval</label>
        <locationX>513</locationX>
        <locationY>548</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>update_vendor_record</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApprovalStatus</assignToReference>
            <name>instanceStatus</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assign_question_and_response</name>
        <label>assign question and response</label>
        <locationX>948</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>assignedQuestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssigneResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answeredQuestions.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignedQuestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answeredQuestions.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssigneResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>answeredQuestions.Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionsAndResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>answeredQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughQuestionRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vendorIdNew</name>
        <label>vendorId</label>
        <locationX>191</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>vendorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Vendor.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Vendor_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>would_you_like_to_refine_search</name>
        <choiceText>would you like to refine search?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckForHardStop</name>
        <label>CheckForHardStop?</label>
        <locationX>1063</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesHardStop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isThatHardStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cannotcontinue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Not_a_Hard_Stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isThatHardStop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_question_and_response</targetReference>
            </connector>
            <label>Not a Hard Stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>goToMainScreen</name>
        <label>goToMainScreen</label>
        <locationX>369</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yesGoBactoMainScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>would_you_like_to_refine_your_vendor_search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>goBackToVendorScreenNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>would_you_like_to_refine_your_vendor_search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_someone_available_to_contact_to</name>
        <label>If someone available to contact to?</label>
        <locationX>194</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactnotnull</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ISContactDetailNotEmpty</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactnotnull</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_Availability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISContactDetailNotEmpty</name>
        <label>ISContactDetailNotEmpty</label>
        <locationX>771</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>verifiedContactDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactnotnull</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_Availability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoContactRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactnotnull</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Search_desired_contact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>isVendorAvbl</name>
        <label>isVendorAvbl</label>
        <locationX>190</locationX>
        <locationY>523</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoVendorAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vendorAvailability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setVendorStatusToUnavailable</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>vendorIsavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vendorAvailability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllQuestions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_vendor_records_found</name>
        <label>no records found?</label>
        <locationX>523</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>requiredVendorRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retrievedVendorRecordsBtType</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>no_records_found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoVendorRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retrievedVendorRecordsBtType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>goToMainScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Contact_Name_to_Search</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>selectedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>retrievedVendorRecordsBtType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Vendor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vendor_Type</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Vendor__c</object>
        <outputAssignments>
            <assignToReference>vendorNameByType</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VendorType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vendor_Type__c</picklistField>
        <picklistObject>Vendor__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Booking Flow</label>
    <loops>
        <name>LoopThroughQuestionRecords</name>
        <label>LoopThroughQuestionRecords</label>
        <locationX>717</locationX>
        <locationY>563</locationY>
        <assignNextValueToReference>iterateQuestions</assignNextValueToReference>
        <collectionReference>ListOfQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Answer_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createQuestionRecordsOnVendor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuestionRecordsOnVendor</name>
        <label>createQuestionRecordsOnVendor</label>
        <locationX>751</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>submitVendorForApproval</targetReference>
        </connector>
        <inputReference>QuestionsAndResponses</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAllQuestions</name>
        <label>getAllQuestions</label>
        <locationX>735</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughQuestionRecords</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Question__c</object>
        <outputReference>ListOfQuestions</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>look_up_for_vendor</name>
        <label>look up for vendor</label>
        <locationX>175</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_someone_available_to_contact_to</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </filters>
        <object>Vendor__c</object>
        <outputAssignments>
            <assignToReference>contactnotnull</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Vendor.isVendorAvailable__c</assignToReference>
            <field>isVendorAvailable__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>setVendorStatusToUnavailable</name>
        <label>setVendorStatusToUnavailable</label>
        <locationX>196</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Return_to_vendor_recor_screen_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vendor_Status__c</field>
            <value>
                <stringValue>Unavailable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isVendorAvailable__c</field>
            <value>
                <elementReference>vendorAvailability</elementReference>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_vendor_contact_field</name>
        <label>update vendor contact field</label>
        <locationX>735</locationX>
        <locationY>7</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>selectedContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Last_Contacted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_vendor_record</name>
        <label>update vendor record</label>
        <locationX>491</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>wait_for_record_approval_rejection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vendorId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Last_Contacted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isVendorAvailable__c</field>
            <value>
                <elementReference>vendorAvailability</elementReference>
            </value>
        </inputAssignments>
        <object>Vendor__c</object>
    </recordUpdates>
    <screens>
        <name>Answer_Questions</name>
        <label>Answer Questions</label>
        <locationX>959</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckForHardStop</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>{!iterateQuestions.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Response</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Response&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>isThatHardStop</name>
            <dataType>Boolean</dataType>
            <fieldText>isThatHardStop?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>cannotcontinue</name>
        <label>cannotcontinue</label>
        <locationX>1092</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Cannotcontinuewithavendor</name>
            <fieldText>Can not continue with a vendor. Detected Hard Stop.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Check_Availability</name>
        <label>Check Availability</label>
        <locationX>191</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isVendorAvbl</targetReference>
        </connector>
        <fields>
            <name>Event_Date_to_check_for</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Event Date to check for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>vendorAvailability</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>isVendorAvailable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>End_screen</name>
        <label>End screen</label>
        <locationX>351</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreen</name>
            <fieldText>Yahh!! Vendor booking completed.
Record Updated successfully. 
Kindly click on Finish to end up the flow.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Matching_Contacts</name>
        <label>Matching Contacts</label>
        <locationX>735</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_vendor_contact_field</targetReference>
        </connector>
        <fields>
            <name>Matching_Contact_Records</name>
            <choiceReferences>ContactRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Contact Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>no_records_found</name>
        <label>no records found</label>
        <locationX>526</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>norecordsfoundmatchingcriteria</name>
            <fieldText>ohhhhh ooo!!!
No records found matching criteria......</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>would_you_like_to_refine_your_vendor_search</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>would you like to refine your search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Return_to_vendor_recor_screen_2</name>
        <label>Return to vendor recor screen 2</label>
        <locationX>200</locationX>
        <locationY>742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VendorNotavailable</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ohh ooo!!!!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This vendor seems unavalable.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Kindly search for another vendor.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you!!!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Search_desired_contact</name>
        <label>Search desired contact</label>
        <locationX>735</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Contacts</targetReference>
        </connector>
        <fields>
            <name>Contact_Name_to_Search</name>
            <dataType>String</dataType>
            <fieldText>Contact Name to Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Vendor_Type</name>
        <label>Select Vendor Type</label>
        <locationX>186</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>look_up_for_vendor</targetReference>
        </connector>
        <fields>
            <name>Vendor_Type</name>
            <choiceReferences>VendorType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vendor Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>{!VendorType}</pausedText>
    </screens>
    <screens>
        <name>showSelectedVendorRecords</name>
        <label>showSelectedVendorRecords</label>
        <locationX>335</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>no_vendor_records_found</targetReference>
        </connector>
        <fields>
            <name>selectedVendorRecordsByType</name>
            <choiceReferences>retrievedVendorRecordsBtType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>selectedVendorRecordsByType</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>wait_for_record_approval_rejection</name>
        <label>wait for record approval / rejection</label>
        <locationX>492</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_screen</targetReference>
        </connector>
        <fields>
            <name>RecordSubmittedForApproval</name>
            <fieldText>record submitted for approval!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Record sent for approval. Will wait till record has been either approved or rejected.</pausedText>
    </screens>
    <startElementReference>vendorIdNew</startElementReference>
    <variables>
        <name>answeredQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question_Records__c</objectType>
    </variables>
    <variables>
        <name>ApprovalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignedQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AssigneResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactnotnull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>enteredContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>isVendorAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>iterateQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>ListOfQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>listOfQuestionsAnswered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestionsAndResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question_Records__c</objectType>
    </variables>
    <variables>
        <name>selectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vendor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vendor__c</objectType>
    </variables>
    <variables>
        <name>vendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Vendor.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>vendorNameByType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
